[Unit]
Description=Enable Open Power NMI service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=${exec_prefix}/bin/pdbg -a stop
ExecStart=${exec_prefix}/bin/pdbg -a sreset
SyslogIdentifier=openpower-proc-nmi

